#titleText {
    font-size: 60px;
    font-family: 'Questrial', sans-serif;
}

#userIcon {
    font-size: 60px;
    color: dodgerblue;
}

#bodyStyle {
    background-color: antiquewhite;
}

#borderColor {
    border-bottom: 2px solid dodgerblue;
    width: 90%;
    margin: 0 auto;
}

.textBody {
    font-family: 'Questrial', sans-serif;
    font-size: 35px;
}

#pollIcon {
    font-size: 35px;
}

#surveyButton {
    font-size: 25px;
    position: relative;
    bottom: 4px;
}